<mat-toolbar>
  <span class='title'>Public Health Care</span>
  <button mat-button class='button' color='primary' clicked>PATIENTS</button>
  <button mat-button class='button' color='primary'>CALENDAR</button>
  <button mat-button class='button' color='primary'>USERS</button>
  <button mat-button class='button' color='primary'>BILLING</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>Sidenav</mat-sidenav>
   <mat-sidenav-content>
     <div>
      <mat-form-field appearance='outline'>
        <input type="text" matInput placeholder="Search">
        
      </mat-form-field>
      <button mat-icon-button color="primary" >
        <mat-icon>search</mat-icon>
      </button>
         <div>
           <app-patient-info></app-patient-info>
         </div>
     </div>
   </mat-sidenav-content>
</mat-sidenav-container>